<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.furniture">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".ApplicationComponent"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.FurnitureMarket"
        android:usesCleartextTraffic="true"
        tools:replace="android:theme"
        tools:targetApi="m">
        <activity
            android:name=".ui.helpsupport.ChatSupportActivity"
            android:exported="true" />
        <activity
            android:name=".ui.mywallet.activities.GetPaidActivity"
            android:exported="true" />
        <activity
            android:name=".ui.mywallet.activities.RefillWalletActivity"
            android:exported="true" />
        <activity
            android:name=".ui.banksettings.activities.AddBankAccountActivity"
            android:exported="true" />
        <activity
            android:name=".ui.helpsupport.HelpSupport"
            android:exported="true" />
        <activity
            android:name=".ui.mycards.activities.MyCardsActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.mycards.activities.PaymentDetailsActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".VideoActivity"
            android:exported="false" />
        <activity
            android:name=".ui.home.HomeActivity"
            android:label="@string/title_activity_home"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.FurnitureMarket.NoActionBar" />
        <activity
            android:name=".ui.loginSignUp.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- <activity -->
        <!-- android:name=".ui.home.map.MapActivity" -->
        <!-- android:exported="true" -->
        <!-- android:screenOrientation="portrait"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.MAIN" /> -->
        <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->
        <activity
            android:name=".ui.home.InstaWebActivity"
            android:launchMode="singleTask" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.furniture.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@mipmap/ic_launcher" /> <!-- <meta-data -->
        <!-- android:name="com.google.android.geo.API_KEY" -->
        <!-- android:value="${MAPS_API_KEY}" /> -->
        <service
            android:name=".utlis.FireBaseService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="android.intent.action.RESPOND_VIA_MESSAGE" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
    </application>

</manifest>